version: '3.9'

services:
  db:
    container_name: quotes-db
    build: ./database
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - db-data:/var/lib/mysql

  api:
    container_name: quotes-api
    build: ./api
    depends_on:
      - db
    env_file:
      - .env
    environment:
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DB: ${MYSQL_DATABASE}
    ports:
      - "5001:5001"

  app:
    container_name: quotes-frontend
    build: ./app
    depends_on:
      - api
    ports:
      - "5002:5002"

volumes:
  db-data:
